body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav-link {
  margin-left: 40px;
  
}
/* product page in universe componet styling */
.logoContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.logo {
  
  width:100% ;    /* Set a fixed width for logos */
    height: 80px;   /* Set a fixed height for logos */
    object-fit: contain;  /* Ensure logos maintain their aspect ratio */
    object-position: center; /* Center the logos */
    margin-bottom: 10px;  /* Centers the image if it's smaller than the container */
}

/* Support page in hero component style  */

#supportHero{
  background-color: rgb(56, 126, 209);
  color: white;
}

#supportHero a{
  color: white;
}

#supportWrapper{
  display: flex;
  justify-content: space-between;
  margin: 0 150px;
}

#supportHero input{
  padding: 15px 35px;
  width: 100%;
  font-size: 19px;
  border-radius: 10px;
  border: none;
  outline: none;
}
/* Style for the active nav item */
.nav-link {
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.87rem;
   font-weight: 600; /* Optional: To highlight the active link */
  color: #5a5a5ac2; /* Default color for nav links */
  text-decoration: none; /* Remove underline */
  transition: color 0.3s ease; /* Smooth color change */
}

/* Bottom border for the active nav item */
.nav-link::after {
  content: "";
  position: absolute;
  bottom: -5px; /* Space below the text */
  left: 0;
  width: 0; /* Start with no border */
  height: 2px; /* Thickness of the border */
  background-color: #007bff; /* Border color */
  transition: width 0.3s ease; /* Smooth transition for the border */
}

/* When the nav item is active, expand the border */
.nav-link.active-nav-item::after {
  width: 100%; /* Expand the border fully */
}

/* Optional: Hover effect for better user experience */
.nav-link:hover {
  color: #007bff; /* Highlight color on hover */
}

.nav-link:hover::after {
  width: 100%; /* Expand border on hover as well */
}

